.h1 {
  color: var(--title);
  margin-bottom: 1rem;
}

.addressContainer {
  width: 100%;
  background-color: white;
  border-top: 3px solid var(--title);
  border-radius: 4px;
  padding: 1rem;
}

.span {
  color: var(--label);
  font-weight: bold;
}

.paragraph {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.2rem 0 0.5rem 0.5rem;
}

.paragraph::before {
  content: "";
  display: block;
  background-color: var(--title);
  height: 6px;
  width: 6px;
  margin-right: 7px;
  margin-left: 5px;
  border-radius: 50%;
}

.button {
  background-color: var(--title);
  color: var(--white);
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 1.375rem;
  }
}
