.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.errorContainer {
  height: 1.5rem;
}

.label {
  display: block;
  color: var(--softGray);
  font-size: 1.2rem;
}

.input {
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
}

.input:focus,
.input:hover {
  border: 2px solid var(--softBlue);
  box-shadow: 0 0 0 1px rgb(144, 164, 255);
}

.input::placeholder {
  color: var(--softGray);
  opacity: 0.5;
}

.button {
  background-color: var(--softBlue);
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.2);
}
