.main {
  height: 100vh;
  max-width: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  padding: 0rem 2rem;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0rem 1rem;
  }
}
