:root {
  --bg-color: #e5f8ff;
  --softBlue: rgb(15, 114, 227);
  --softGray: rgb(105, 106, 108);
  --white: rgb(255, 255, 255);
  --black: rgb(18, 17, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
}

button {
  transition: 0.2s;
}

.error {
  color: tomato;
  margin-left: 0.5rem;
  font-size: 0.875rem;
}
